.ingredients {
  /* border: 1px dashed #4C4CFF; */
  width: 272px;
  height: 208px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.price_and_icon {
  /* border: 1px dashed #4C4CFF; */
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.text_container_0 {
  
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1C1C21;
  /* border: 1px dashed #4C4CFF; */
}

.left_section {
  
  height: 912px;
  width: 600px;
  /* border: 2px solid #4C4CFF; */
}

.over_flow_container_BI {
  overflow: scroll;
  overflow-x:hidden;
  height: 712px; 
}
  
.over_flow_container_BI::-webkit-scrollbar-thumb {
  background: #8585AD;
  border: 3px solid #2F2F37;
  width: 8px;
} 
  
.over_flow_container_BI::-webkit-scrollbar {
  width: 12px;
} 
  
.over_flow_container_BI::-webkit-scrollbar-track {
  background: #2F2F37;
}

.BI_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* border: 1px dashed #4C4CFF;  */
}